﻿@model MvcPhotoAlbum.Models.Photo

@{
    ViewBag.Title = "Upload";
}

<h2>Upload Photos</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

@*<form method="post" enctype="multipart/form-data">*@
   <div class="editor-label">
   @* @Html.ValidationMessage("FileName")*@
  @Html.LabelFor(model => model.FileName)@*//label for="file">Filename:</label>*@
  </div>
    <input type="file" name="file" id="file" />

 <input type="submit" />
}


<div>
    @Html.ActionLink("Back to List", "Index", "UploadImage")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


