﻿@model MvcPhotoAlbum.Models.Photo

@{
    ViewBag.Title = "DeletePicture";
}

<h2>DeletePicture</h2>
 
    
<h3>Are you sure you want to delete this Picture?</h3><br />
  
 <fieldset>  
   <legend>Album </legend>

      <img src="/Album/GetImage/@Html.Encode(Model.PhotoId)"  style=" width: auto; height : 300px;" alt="Picture" />
   
</fieldset>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> 
        
          @Html.ActionLink("Back to List", "Details/",new{id=Model.AlbumId})
        

    </p>

}