﻿@model MvcPhotoAlbum.Models.Album

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

    
    
<h3>Are you sure you want to delete this?</h3>
  <fieldset>  
   <legend>Album </legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
      <div>
          @Html.DisplayFor(model => model.Title)
      </div>
   

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateTaken)
    </div>
      
    <div class="display-field">
        @Html.DisplayFor(model => model.DateTaken)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
