﻿@model IEnumerable<MvcPhotoAlbum.Models.Photo>

@{
    ViewBag.Title = "Display";
}   

@Styles.Render("~/Content/themes/base/css")


<h2>Pictures</h2>
 

    
<table> 
     
@foreach (var item in Model) {
  <tr id="myImage">
      <td >
      <img src="/Album/GetImage/@Html.Encode(item.PhotoId)"  style=" width: auto; height : 300px;" alt="Picture" />.
      @Html.Hidden(item.PhotoId.ToString())
       </td>

      <td>
     @Html.DisplayFor(modelItem  =>item.Description)
     </td>

     <td >
    

       @Html.Hidden(item.PhotoId.ToString())
        
          @Ajax.ActionLink("Delete", "DeletePicture", new { id = item.PhotoId },
                                                                 new AjaxOptions
                                                                     {
                                                                       
                                                                         Confirm = "Are you sure you want to delete this picture?",
                                                                         HttpMethod = "DELETE",
                                                                         UpdateTargetId = "myImage",
                                                                         OnSuccess = "onPhotoDeleteSuccess",
                                                                         OnFailure = "onProductDeleteFailure"
                                                                     }
                                                                     )

     
   
     </td>   
</tr>
}
   
    </table>

  

     
 @*   

@section scripts
{
     
    @Scripts.Render("~/bundles/jqueryui")

     

     @Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    // Callback function that is invoked when our Delete operation succeeds
    function onPhotoDeleteSuccess(response, status, data)
    {
        
        var id = "#PhotoId" + response.id;
        $(id).remove();
    }

    function onProductDeleteFailure(context)
    {
        alert("Something went horribly wrong");
    }

    function adjustURL(context)
    {
        var request = context.get_request();
        var url = request.get_url();
        request.set_url(url);

    }
 </script>
    
         }

       *@
