﻿@model MvcPhotoAlbum.Models.Album

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Album</legend>

@*        
<p>
          @Html.ActionLink("Upload Pictures", "Upload",Model.AlbumId)
   
</p>
      *@ 
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.AlbumId)
      
       

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.DateTaken)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateTaken)
            @Html.ValidationMessageFor(model => model.DateTaken)
        </div>

      
    </fieldset>
    
    
    <div class="editor-label">
            @Html.Label("Categories")
        </div>
    
    <div class="editor-field">
          <table>
            <tr>
                @{
    int cnt = 0;
    List<MvcPhotoAlbum.Models.SelectedCat> categories = ViewBag.Categories;
    foreach (var category in categories)
    {
        if (cnt++ % 4 == 0)
        {
            @:</tr><tr>
         }
         @:<td>
            <input type="checkbox"
           name  ="selectedCat"
          value="@category.CategoryId"
          @(Html.Raw(category.Selected ? "checked=\"checked\"" : "")) />
          @category.CategoryName
          @:</td>
                }
            @:</tr>
                }
        </table>
        </div>

    
         <p>
            <input type="submit" value="Edit" />
        </p>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
