﻿@model IEnumerable<MvcPhotoAlbum.Models.Album>

@{
    ViewBag.Title = "My Albums";
}
@Styles.Render("~/Content/themes/base/css")
 <script type="text/javascript">

            function selectedIndexChanged() {

            }

        </script>
<h2>My Albums</h2>


@Ajax.ActionLink("ajax load for id: 101", "IndexData", new {id = 101}, 
new AjaxOptions {
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace, 
    OnSuccess = "SuccessFunction",
    UpdateTargetId = "myDiv"})
   
<div id="myDiv"></div>
<div id="myDiv2" style="border-width: medium; border-color: black"></div>

 @{Html.BeginForm("Search", "Album", FormMethod.Post); 
   
   <table>
   <tr>
       <td>
              @Html.Label("Search album  name  or Category")   
      </td>
       <td>
   
        
      </td>
  </tr>
       <tr>
          <td>
             <input type="text" name="searchString" />
             
         @Html.DropDownList("theCategoryId",ViewBag.Categories as SelectList, "Category")
         <input type="submit" value="Search" />
           </td>
           <td>

           
   </tr>
          </table> 
      
                }
                      

            
<table>

    <tr>
       <td>

    @Html.ActionLink(" Create New ", "Create")       
    
   
        </td>
       

        <td>
 
        </td>

          <td>
         
    
        </td>
    </tr> 
</table>



<table>
     
    <tr>
       
      <th></th>
        <th>

            @Html.DisplayNameFor(model => model.Title)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlbumId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlbumId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlbumId }) |               
            @Html.ActionLink("Upload", "Upload", new { id = item.AlbumId })
        </td>
        <td>
           @* @Html.DisplayFor(modelItem => item.Title)*@
             @Html.ActionLink(Convert.ToString(item.Title),"Details",new { id = item.AlbumId })
        </td>
       @* <td>
            @Html.DisplayFor(modelItem => item.UserName.Name)
        </td>*@
       
        <td>
            @Html.DisplayFor(modelItem => item.DateTaken)
        </td>
        
    </tr>
}

</table>

