﻿@model IEnumerable<MvcPhotoAlbum.Models.Album>


@if (Model.Count() > 0 )
{
    ViewBag.Title = "Search";
<h2>Results</h2>
}
else
{
<div><strong> No results were found</strong></div>
}





    
  @foreach (var item in Model)
    {
       <table>
           <tr>
               <td>
           @Html.LabelFor(modelItem => item.Title)
              </td>
               <td>
            @Html.LabelFor(modelItem => item.DateTaken)
               </td>
           </tr>
           <tr>
               <td>
             @Html.ActionLink(Convert.ToString(item.Title),"Details",new { id = item.AlbumId })
                </td>
               <td>
             @Html.DisplayFor(modelItem => item.DateTaken)
               </td>
            </tr>
          </table>
    }

   

 @* @Html.DisplayFor(modelItem => item.Title)*@

