﻿@model MvcPhotoAlbum.Models.Album
<h2>Upload Your Photos</h2>

@{
    ViewBag.Title = "Upload Your Photos";
   
}
<script type="text/javascript">
   function getFile()
 {
    document.getElementById("upfile").click();
   }

    function sub(obj)
    {
        var file = obj.value;
        var fileName = file.split("\\");
        document.getElementById("yourBtn").innerHTML = fileName[fileName.length - 1];
        document.myForm.submit();       
   //     event.preventDefault();
    }

</script>
<br />
<br />


    @using (Html.BeginForm("Upload", "Album", FormMethod.Post, new { enctype = "multipart/form-data", name="myForm" }))
    {
        
    @Html.ValidationSummary();
      
     <h4>
          
         @Html.DisplayFor(model => model.Title)
         @Html.ValidationMessage("Title")
      </h4>
         
        
     
  

  <div id="yourBtn" style='float:left; font-size:1.1em; -webkit-border-radius: 5px; -moz-border-radius: 5px; width: 150px;  
                           height:35px;  background-color:#ffffff; border: 1px solid #BBB; cursor:pointer;'  onclick="getFile()"> 
            Click to upload!

  </div>
                   
<!-- this is your file input tag, so i hide it!-->
   <div style="height: 0px;width: 0px;  float:left; overflow:hidden;">

   <input id="upfile"  class="file" name="file" type="file" value="upload" />
   
    </div>    
 
        <!--Description textbox !-->
    <input id="Desription" style='float:left;' name="Description" type="text" value="Description" /> 
      
        
     <input   type="submit" style='float:left;'  value="Upload and Save" />    
    @* <input type="submit" style=" padding-left:10px;  " id="txtSubmit" value="Save" />*@
        
    <div class="field-validation-error" id="spanfile"></div> 
       
    }


<!-- I could've use   this to upload automatically    without submoit button    onchange="sub(this)"  !-->