﻿@model MvcPhotoAlbum.Models.Photo  

<h2>Upload Your Photos</h2>

@{
    ViewBag.Title = "Upload";
   
}

<h2>Upload Photos</h2>

@*@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

@*<form method="post" enctype="multipart/form-data">*@
    @using (Html.BeginForm("Upload", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @Html.ValidationSummary();
      
        
      
         @FileUpload.GetHtml(initialNumberOfFiles:1, allowMoreFilesToBeAdded:true, includeFormTag:false,addText:"Add Files",
         uploadText:"Upload File")
            @Html.DisplayFor( x => x.FileName)
          // @Html.HiddenFor(model => model.AlbumId)
       
  
      
       
    <ol>
    <li class="lifile">
    @*<input type="file" id="fileToUpload" name="file" />*@
    <span class="field-validation-error" id="spanfile"></span>
    </li>
    </ol>
    <input type="submit" id="btnSubmit" value="Upload" />
    }


<div>
    @Html.ActionLink("Back to List", "Index", "UploadImage")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


