﻿<!DOCTYPE html>
<html lang="en">
 <head>
                  
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
       
            
        @Styles.Render("~/Content/Site.css")
   
     <script type="text/javascript" src="../../Content/MicrosoftAjax.js"></script>
      <script type="text/javascript" src="../../Content/MicrosoftMvcAjax.debug.js"></script>
 

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink(" ", "Index", "Home")</p>
                <div id="title">
                    <a href="~/Home">
                    <img src="~/Images/Logo.jpg" />
                        </a>
                       @* <h1>Lucy's Photo Album</h1>*@
                    </div>
                     </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("My Albums", "Index", "Album")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li> 
                            
                              <li>@Html.ActionLink("Admin", "Index", "Photo")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">

            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("/bundles/jqueryval")

        @RenderSection("scripts", required: false)
      
    </body>
</html>
