﻿@{
    ViewBag.Title = "";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}

<h3>To Start using Lucy's Album follow these  simple steps: </h3><br /><br />
<table>
    <tr>
        <th>Register or Login </th>
        <th>Click My Albums Page</th>
        <th>Create New Album</th>
        <th>Upload pictures to your albums </th>
    </tr>
    <tr >
        
        <td>
         <a href="~/Account/Register">
            <img src="~/Images/step1.png" style='width: 300px; height: auto' alt="Step1" />
        </a>
       </td>
         <td>
              <a href="~/Album">
      <img src="~/Images/step2.png" style='width: 300px; height:auto' alt="Step2" />
               </a>
       </td>
         <td>
             <a href="~/Album/Create">
      <img src="~/Images/step3.png" style='width: 320px; height:auto' alt="Step3" />
            </a>
       </td>
         <td>
             <a href="~/Album/">
      <img src="~/Images/step4.png" style='width: 320px; height: auto'  alt="Step4"/>
                 </a>
       </td>
    </tr>
    
              
</table>

<img src="~/Images/Album.jpg" width="1220"style='text-align:center'/>

<ol class="round">
    <li class="one">
     
    </li>

    <li class="two">
       
    </li>

    <li class="three">
       
    </li>
</ol>
